* {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #FFC107;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    width: 40px;
    margin-right: 10px;
}

.navbar .logo p {
    font-weight: bold;
    font-size: 20px;
}

.navbar .links {
    display: flex;
    gap: 20px;
}

.navbar .links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar .links a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    font-family: Arial, sans-serif;
}


.left-content {
    flex: 1;
    padding-right: 50px;
}

.left-content h1 {
    font-size: 72px;
    color: #5f27cd;

    margin-bottom: 20px;
}

.left-content h2 {
    font-size: 72px;
    margin-bottom: 30px;
}

.left-content .highlight {
    background-color: #5f27cd;

    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    margin-bottom: 30px;
}

.left-content p {
    font-size: 20px;
    margin-bottom: 20px;
}


.right-content {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.right-content img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.graduates-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #fff;
}

.graduates-title {
    font-size: 48px;
    margin-bottom: 20px;
}

.graduates-word {
    color: #5f27cd;
}

.companies {
    display: flex;
    gap: 100px;
}

.company-logo {
    width: 100px;
    height: 100px;
}
.courses-section {
    display: flex;
    padding: 50px;
    background-color: #f6f6f6;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.category-btn {
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.course-card {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 30px;
}

.course-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.course-description {
    margin-bottom: 20px;
}

.course-info {
    display: flex;
    gap: 30px;
    align-items: center;
}

.course-btn {
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}


